<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
	
	bootstrap="vendor/autoload.php"
	colors="true"
	stopOnError="false">
	
	<testsuites>
		<testsuite name="Application tests">
			<directory>Test</directory>
		</testsuite>
	</testsuites>

</phpunit>
